* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .Sidebar {
  background-color: whitesmoke;
  color: #52718e;
  display: flex;
  justify-content: space-between;
  gap : 2rem;
  padding: 0.25rem 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .Sidebar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: 0.25rem;
    align-items: stretch;
  }
  
  .Sidebar ul {
    text-decoration: none;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .website_title {
    font-size: 2rem;
  }
  
  .Sidebar li:hover {
    background-color: #383838;
    color: white;
    transition-duration: 0.5s;
  }
  
  .Sidebar li:active {
    height: 100%;
    background-color: #555;
  }
  
  .tag_line {
    color : rgb(72, 67, 121);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
  }
  
  .dashboard_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .btn_wrapper
  {
    padding: 16px 32px;
  }
  
  .description {
    color: gray;
    font-size: large;
    margin-top: -28px;
  }
  
  .Login_button {
    background-color: rgb(110, 110, 169);
    color: white;
    padding: 10px;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    transition-duration: 0.5s;
    font-size: 16px;
  }
  
  .Signup_button {
    padding: 10px;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    transition-duration: 0.5s;
    font-size: 16px;
  }
  
  .Login_button:hover{
    background-color: whitesmoke;
    color: black;
  }
  
  .Signup_button:hover
  {
    color: white;
    background-color: gray;
    
  }
  
  